<% include partials/header %>
<title><%= title %></title>
</head>
<body id="body">

<!-- Title Banner -->
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-3" align="center">
    <img src="/Images/USFlag.jpg" width="243px" height="165px">
  </div>
  <div class="col-lg-1">
    <img src="/Images/HWTLogo.jpg" id="logo" width="150px" height="150px">
  </div>
  <div class="col-lg-3" align="center">
    <h1 id="title">Han's White Tiger<br/>
      Tae Kwon Do</h1>

  </div>
  <div class="col-lg-3" align="center">
    <img src="/Images/south-korea-flag.jpg" width="243px" height="165px">
  </div>
  <div class="col-lg-1"></div>
</div>

<!-- Navigation buttons -->
<br/>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a id="home">Home</a></li>
        <li><a id="about">About Us</a></li>
        <li><a id="classes">Classes</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Curriculum
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a id="white">White</a></li>
            <li><a id="yellow">Yellow</a></li>
            <li><a id="orange">Orange</a></li>
            <li><a id="green">Green</a></li>
            <li><a id="blue">Blue</a></li>
            <li><a id="purple">Purple</a></li>
            <li><a id="red">Red</a></li>
            <li><a id="blackTip">Black Tip</a></li>
            <li><a id="doubleBlackTip">Double Black Tip</a></li>
          </ul>
        </li>
        <li><a id="try">Try Us</a></li>
        <li><a id="contact">Contact Us</a></li>
      </div>
    </nav>
  </div>
  <div class="col-lg-3"></div>
</div>

<!-- Announcements -->
<div id="announcements">
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <h1 align="center"><u>Announcements</u></h1>
    <h2 align="center">Testing</h2>
    <ul>
      <li>The next colored belt test will be held on Friday, December 14th</li>
      <li>The next Black Belt Pre-Test will be held on Saturday, December 15th
        and the next Black Belt Test will be in February.  Keep practicing hard.</li>
      <li>Congratulations to everyone that earned a new belt in November</li>
      <li>Congratulations to everyone that took their Black Belt test in October</li>
    </ul>
    <h2 align="center">Events</h2>
    <ul>
      <li>We will be closed Wed Nov, 21 to Sat Nov, 24 for the Thanksgiving Holiday</li>
      <li>We will be closed Fri Dec, 21 to Wed Jan, 2 for the Christmas Holiday</li>
      <li>We would like to encourage everyone to attend as we host our first tournament
          at Hamilton High School on Saturday March 30.  More information to follow</li>
    </ul>
    <h2 align="center">Community</h2>
    <ul>
      <li>The new location opened November 5th, thank you to everyone that helped get
         everything ready to open.</li>
      <li>Thank you to everyone that participated in this year's Break-A-Thon to
         benefit Cincinnati Children's Hospital.  We exceeded our goal and raised a
         total of $23,635.47</li>
    </ul>
    <h2 align="center">Other</h2>
    <ul>
      <li>We will be holding auditions for the Demonstration Team on Saturday Dec 8 at
         12:10PM. This will be in place of the normally scheduled Demo Team practice.
         Current Demo Team members need to attend. Applications are due no later than
         Saturday Dec 1.</li>
      <li>If you are interested in joining the leadership team please contact Master Han
         or Master Sim.  This is open to Green Belt and above.</li>
    </ul>
  </div>
  <div class="col-lg-6" align="center">
    <img src="/Images/BAT_group.jpg">
    <h2>Over $23,000 raised for Cincinnati Children's Hospital</h2>

  </div>
  <div class="col-lg-1"></div>
</div>
<br/>
</div>
<!-- End Announcements -->

<!-- About Us -->
<div id="aboutUs">
  <div class="row">
    <div class="col-lg-12" align="center">
      <h3>This area is not part of the story and is still under construction</h3>
    </div>
  </div>
</div>
<!-- End About Us -->

<!-- Classes -->
<div id="classInfo">
  <div align="center">
    <a href="/Images/Hans_TKD_Schedule.pdf" class="pdf" target="blank"><img src="/Images/Hans_TKD_Schedule.pdf" alt="Han's White Tiger Class Schedule" width='500'></a>
  </div>
  <div id="classInfo" align="center">
    <h2 id="text">Tae Kwon Do Classes</h2>
    <p id="text">Han's White Tiger Tae Kwon Do provides a nurturing learning environment for people of all ages and backgrounds. Our curriculum is<br/>
       designed to train students in values and skills that are as important as a traditional academic education. We emphasize the importance<br/>
       of respect and teach a Black Belt Philosophy that will positively impact the lives and communities of our students.</p>
    <br/>
  </div>
  <div class="row" align="center">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <img src="/Images/class_little_tigers.jpg">
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <img src="/Images/class_kids.jpg">
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
  <div class="row" align="center">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <img src="/Images/class_teens_adults.jpg">
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <img src="/Images/class_family.jpg">
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End Classes -->

<!--  White Belt -->
<div id="whiteBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>White Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>White Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <p><u>White Belt Philosophy</u>
         &nbsp&nbspFocus</p>
      <br/>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbspTae Guk Il Jang</p>
      <p><u>Terminology</u></p>
      <p>&nbsp&nbsp <u>General Terms</u><br/>
         &nbsp&nbsp Uniform - Dobok<br/>
         &nbsp&nbsp School - Dojang</p>
      <p>&nbsp&nbsp <u>Commands</u><br/>
         &nbsp&nbsp Ready Stance - Jun Bee<br/>
         &nbsp&nbsp End/Return - Barro<br/>
         &nbsp&nbsp Attention - Cha-Ryot<br/>
         &nbsp&nbsp Bow - Kyong Ye</p>
      <p>&nbsp&nbsp <u>Techniques</u><br/>
         &nbsp&nbsp Front Snap Kick - Ap Chagi<br/>
         &nbsp&nbsp Roundhouse Kick - Dol Yo Chagi<br/>
         &nbsp&nbsp Side Kick - Yop Chagi</p>
    </div>
    <div class="col-lg-2">
      <p><u>Breaking Technique</u>
         &nbsp&nbspFront Snap Kick</p>
      <br/><br/><br/><br/>
      <p>&nbsp&nbsp <u>Counting</u><br/>
         &nbsp&nbsp One - Hana<br/>
         &nbsp&nbsp Two - Dul<br/>
         &nbsp&nbsp Three- Set<br/>
         &nbsp&nbsp Four - Net<br/>
         &nbsp&nbsp Five - Dasot<br/>
         &nbsp&nbsp Six - Yuhsot<br/>
         &nbsp&nbsp Seven - Ilgop<br/>
         &nbsp&nbsp Eight - Yodol<br/>
         &nbsp&nbsp Nine - Ahope<br/>
         &nbsp&nbsp Ten - Yul</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/tADYxaAxeY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>White Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>White Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <iframe width="600" height="340"
        src="https://www.youtube.com/embed/hOr1LEuI5aQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/rDAIlfTFDqU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End White Belt -->

<!-- Yellow Belt -->
<div id="yellowBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Yellow Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Yellow Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Yellow Belt Philosophy</u>
         &nbsp&nbsp Integrity</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbsp Tae Guk Ee Jang</p>
      <p><u>Breaking Technique</u>
        &nbsp&nbsp Roundhouse Kick</p>
      <p><u>Terminology</u></p>
      <p>&nbsp&nbsp <u>General Terms</u><br/>
         &nbsp&nbsp Form - Poomse<br/>
         &nbsp&nbsp Sparring - Gyoroogi</p>
      <p>&nbsp&nbsp <u>Commands</u><br/>
         &nbsp&nbsp Bow to the Master - Sabum Nim Kae Kyong Ye<br/>
         &nbsp&nbsp Bow to the Instructor - Suhn Bae Nim Kae Kyong Ye<br/>
         &nbsp&nbsp Bow to the Flags - Kukiae Dae Hiyo Kyong Ye</p>
      <p>&nbsp&nbsp <u>Techniques</u><br/>
         &nbsp&nbsp Walking Stance - Ap Sughi<br/>
         &nbsp&nbsp Deep Stance - Ap Goobi<br/>
         &nbsp&nbsp Back Stance - Dwee Goobi</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/yp2FmTsB3qA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Yellow Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Yellow Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <iframe width="600" height="340"
        src="https://www.youtube.com/embed/DCruPj9ms4s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/BZmIA4Sseco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End Yellow Belt -->

<!-- Orange Belt -->
<div id="orangeBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Orange Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Orange Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Orange Belt Philosophy</u>
         &nbsp&nbsp Self Control</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbsp Tae Guk Sam Jang</p>
      <p><u>Breaking Technique</u>
         &nbsp&nbsp Side Kick</p>
      <p><u>Terminology</u></p>
      <p>&nbsp&nbsp <u>Techniques</u><br/>
         &nbsp&nbsp Face Punch - Olgool Jilugi<br/>
         &nbsp&nbsp Middle Punch - Momtong Jilugi<br/>
         &nbsp&nbsp <u>Courtesy Phrases</u><br/>
         &nbsp&nbsp Hello - Anyong Ha Shim Neeka<br/>
         &nbsp&nbsp Good to See You - Bangap Seumnida<br/>
         &nbsp&nbsp Thank You - Gam Sa Hamnida<br/>
         &nbsp&nbsp You're Welcome - Chun mahn Aeyo<br/>
         &nbsp&nbsp Excuse Me - Shil Ray Hamnida<br/>
         &nbsp&nbsp I'm Sorry - Me Ahn Hamnida</p></p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/DcOv10Ji01c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Orange Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Orange Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <iframe width="600" height="340"
        src="https://www.youtube.com/embed/mIHOYsZjdzk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/98boTtEjgfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End Orange Belt -->

<!-- Green Belt -->
<div id="greenBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Green Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Green Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Green Belt Philosophy</u>
         &nbsp&nbsp Cooperation</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbspTae Guk Sah Jang</p>
      <p><u>Breaking Technique</u>
         &nbsp&nbsp Spinning Back Kick</p>
      <p><u>Terminology</u></p>
      <p>&nbsp&nbsp <u>General Terms</u><br/>
         &nbsp&nbsp Break - Kalyo<br/>
         &nbsp&nbsp Continue - Kyesok</p>
      <p>&nbsp&nbsp <u>Commands</u><br/>
         &nbsp&nbsp Turn Around - Dweero Dora<br/>
         &nbsp&nbsp Switch Feet - Bal Kyo Dae</p>
      <p>&nbsp&nbsp <u>Techniques</u><br/>
         &nbsp&nbsp Knifehand Strike - Sonnal Chigi<br/>
         &nbsp&nbsp Single Knifehand Block - Hahn Sonnal Maki<br/>
         &nbsp&nbsp Back Kick - Dwee Chagi</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/dnXyO0_kiFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Green Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Green Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/0W-8nMzMJ-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/Kuq1H1Y-BCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End Green Belt -->

<!-- Blue Belt -->
<div id="blueBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Blue Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Blue Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Blue Belt Philosophy</u>
         &nbsp&nbsp Leadership</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbsp Tae Guk Oh Jang</p>
      <p><u>Breaking Technique</u>
         &nbsp&nbsp Jumping Back Kick</p>
      <p><u>Terminology</u></p>
      <p>&nbsp&nbsp <u>Techniques</u><br/>
         &nbsp&nbsp Back Fist - Dung Ju Mok<br/>
         &nbsp&nbsp Single Punch - Hahn Bun Jilugi<br/>
         &nbsp&nbsp Double Punch - Doo Bun Jilugi<br/>
         &nbsp&nbsp Triple Punch - Sae Bun Jilugi</p>
      <p>&nbsp&nbsp <u>Count in Order</u><br/>
         &nbsp&nbsp First - Il<br/>
         &nbsp&nbsp Second - Ee<br/>
         &nbsp&nbsp Third - Sahm<br/>
         &nbsp&nbsp Fourth - Sah<br/>
         &nbsp&nbsp Fifth - Oh<br/>
         &nbsp&nbsp Sixth - Yook<br/>
         &nbsp&nbsp Seventh - Chil<br/>
         &nbsp&nbsp Eighth - Pal<br/>
         &nbsp&nbsp Ninth - Goo<br/>
         &nbsp&nbsp Tenth - Shib</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/4sdn0XH9pCo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Blue Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Blue Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/AS3IyeAIYqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/Kuq1H1Y-BCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End Blue Belt -->

<!-- Purple Belt -->
<div id="purpleBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Purple Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Purple Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Purple Belt Philosophy</u>
         &nbsp&nbsp Goal Setting</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbsp Tae Guk Yook Jang</p>
      <p><u>Breaking Technique</u>
         &nbsp&nbsp Hook Kick</p>
      <p><u>Terminology</u></p>
      <p>&nbsp&nbsp <u>Techniques</u><br/>
         &nbsp&nbsp Jump - Dwee Uh<br/>
         &nbsp&nbsp Demonstration - She Bum<br/>
         &nbsp&nbsp Testing - Shim Sa</p>
      <p>&nbsp&nbsp <u>Parts of the Body</u><br/>
         &nbsp&nbsp Face - Ul Gool<br/>
         &nbsp&nbsp Foot - Bal<br/>
         &nbsp&nbsp Middle Body - Mom Tong<br/>
         &nbsp&nbsp Lower Body - Arrae<br/>
         &nbsp&nbsp Elbow - Pal Goop</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/0ZT7-osLbmE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Purple Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Purple Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <iframe width="600" height="340"
        src="https://www.youtube.com/embed/XyspPhJuMaI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/Avr54VCNMXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br/>
</div>
<!-- End Purple Belt -->

<!-- Red Belt -->
<div id="redBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Red Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Red Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Red Belt Philosophy</u>
         &nbsp&nbsp Perseverance</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbspTae Guk Chil Jang</p>
      <p><u>Breaking Technique</u>
         &nbsp&nbsp Spinning Hook Kick</p>
      <p><u>Essay</u></p>
      <p>&nbsp&nbsp Life Lessons Learned Through Tae Kwon Do<br/>
         &nbsp&nbsp Every student has learned something different while<br/>
         &nbsp&nbsp training at Han's White Tiger Tae Kwon Do.  Write a<br/>
         &nbsp&nbsp one-page essay describing the things you have learned<br/>
         &nbsp&nbsp while training here.  Describe how these lessons have<br/>
         &nbsp&nbsp helped you at school, at work and at home.</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/uiY7GzDPMUY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Red Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Red Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <h3 align="center">Essay replaces Terminology</h3>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/Avr54VCNMXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<!-- End Red Belt -->

<!-- Black Tip Belt -->
<div id="blackTipBelt">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Black Tip Belt Curriculum</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Black Tip Belt Form</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <p><u>Black Tip Belt Philosophy</u>
         &nbsp&nbsp Respect</p>
      <p><u>Form (Poomsae)</u>
         &nbsp&nbspTae Guk Pal Jang</p>
      <p><u>Breaking Technique</u>
         &nbsp&nbsp Tornado Kick</p>
      <p><u>Essay</u></p>
      <p>&nbsp&nbsp The Importance of Respect in Tae Kwon Do<br/>
         &nbsp&nbsp Respect is something that everyone should show towards<br/>
         &nbsp&nbsp one another.  At our school, we bow to show respect to the<br/>
         &nbsp&nbsp masters, instructors and other students.  Write a one-page<br/>
         &nbsp&nbsp essay on the imporance of respect in tae kwon do.</p>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/cO5_XvmPHDY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" align="center"><h3><strong>Black Tip Belt Terminology</strong></h3></div>
    <div class="col-lg-4" align="center"><h3><strong>Black Tip Belt Breaking Technique</strong></h3></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <h3 align="center">Essay replaces Terminology</h3>
    </div>
    <div class="col-lg-4">
      <iframe width="600" height="340" src="https://www.youtube.com/embed/NMICZNCv4hE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<!-- End Black Tip Belt -->

<!-- Double Black Tip Belt -->
<div id="doubleBlackTipBelt" align="center">
  <h2>There is no new content for this belt.  You are expected to master<br/>
      all content up to this point in preparation for your Black Belt Test</p>
</div>
<!-- End Double Black Tip Belt -->

<!-- Try Us -->
<div id="tryUs">
  <div class="row">
    <div class="col-lg-12" align="center">
      <h3>This area is not part of the story and is still under construction</h3>
    </div>
  </div>
</div>
<!-- End Try Us -->

<!-- Contact Us -->
<div id="contactUs">
  <div class="row" align="center">
    <div class="col-lg-12">
      <h2>Visit us at either of our locations.</h2>
    </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <h3>Liberty Township</h3>
      <p>7340 Yankee Road<br/>
        Liberty Township, OH 45044<br/>
        (513)777-5700<br/>
        Monday-Thursday: 10am - 12pm, 3am - 9pm<br/>
        Friday: 10am - 12pm, 3am - 7pm<br/>
        Saturday: 9am - 1pm<br/>
        Sunday: Closed</p>
    </div>
    <div class="col-lg-4">
      <h3>West Chester</h3>
      <p>8177 Princeton Glendale Road<br/>
        West Chester, OH 45069<br/>
        (513)555-1212<br/>
        Monday-Thursday: 10am - 12pm, 3am - 9pm<br/>
        Friday: 10am - 12pm, 3am - 7pm<br/>
        Saturday: 9am - 1pm<br/>
        Sunday: Closed</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<!-- End Contact Us -->





<% include partials/footer %>
