#logo {
  padding-top: 10px;
}

#title {
  font-size: 4.0em;
}

.errorMsg {
    color: red;
}

.jumbotron {
    align: center;
}

.btn-xlg {
  padding: 15px 25px;
  font-size: 22px;
  line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Times New Roman", Times, serif;
}

h1 {
    align: center;
}

li, ul {
    font-size: 1.1em;
    padding-left: 0;
}

p {
  font-size: 1.2em;
}
